@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #272727;
  --background-hex: #dc0c2d;
  --main-background-hex: #ffffff;
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}

body main {
  background: var(--main-background-hex);
}

@layer base {
  input,
  textarea,
  button,
  a {
    @apply outline-none hover:outline-none active:outline-none focus:outline-none focus-within:outline-none;
  }
}
